---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Asesoria</Fragment>
      <Fragment slot="desc">
        Conversemos y hagamos realidad tus proyectos.
      </Fragment>
    </Sectionhead>

    <div class="container mx-auto ">
      <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/areyesdev/conversemos-y-hagamos-realidad-tus-proyectos?primary_color=ef4444"
        style="min-width:320px;height:700px;">
      </div>
      <script
        type="text/javascript"
        src="https://assets.calendly.com/assets/external/widget.js"
        async></script>
    </div>
  </Container> 
</Layout>
