---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Visibilidad Ininterrumpida",
    description:
      "Un sitio web proporciona a tu negocio una presencia en línea constante, accesible para clientes las 24 horas, los 7 días de la semana, independientemente de la ubicación.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Credibilidad Empresarial",
    description:
      "Un sitio web bien diseñado proyecta una imagen de profesionalismo y confiabilidad, ganando la confianza de los clientes potenciales.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Estrategias de Marketing",
    description:
      "Utiliza tu sitio web como una plataforma para promocionar tus productos o servicios, difundir noticias y ofertas especiales, y atraer a nuevos clientes a través de estrategias de marketing en línea.",
    icon: "bx:bxs-data",
  },
  {
    title: "Interacción Directa",
    description:
      "A través de formularios de contacto, chat en vivo y la integración de redes sociales, puedes establecer una comunicación directa con tus clientes y brindar respuestas rápidas a sus preguntas.",
    icon: "bx:bxs-bot",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Por qué tu negocio necesita un Sitio web  
  </h2>
  <!-- <p class="text-lg mt-4 text-slate-600">
    Astro comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p> -->
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
